@model Capstone.ViewModels.CartViewModel

@{
    double totalPrice = 0;
    for (int i = 0; i < Model.Cart.Count(); i++)
    {
       totalPrice += Model.Cart.ToList()[i].Price * Model.Cart.ToList()[i].Quantity; 
    }
}

<style>
    h1 {
        font-size: 4rem;
        font-weight: bold;
    }

    img {
        width: 150px;
        height: 150px;
    }

    .quantity {
        width: 40px;
    }
</style>

<div class="container mt-5 p-5">
    <div class="row">
        <div class="col-8">
            <h1>MY CART</h1>
        </div>
        <div class="col-3">
            <a href="/Store">CONTINUE SHOPPING</a>
        </div>
    </div>
    <div class="row">
        <table class="table">
            <thead>
                <tr>
                    <th>
                        Product
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Price
                    </th>
                    <th>
                        Unit
                    </th>
                    <th>
                        Total
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Cart)
                {
                    <tr>
                        <input type="hidden" class="item_id" name="name" value="@item.Id" />
                        <td>
                            <img src="@item.Image" class="rounded mx-auto d-block img-fluid" alt="...">
                        </td>
                        <td class="align-middle">
                            @item.Name
                        </td>
                        <td class="align-middle">
                            PHP @(item.Price)
                        </td>
                        <td class="align-middle">
                            <input class="quantity item_units" id="" type="number" name="quantity" value="@item.Quantity" />
                            <input class="item_units_hidden" type="hidden" name="quantity" value="@item.Quantity" />
                        </td>
                        <td class="align-middle">
                            PHP @(item.Price * item.Quantity)
                        </td>
                        <td class="align-middle">
                            @using (Html.BeginForm())
                            {
                                <input type="hidden" name="id" value="@item.Id" />
                                <button class="btn btn-danger" type="submit">REMOVE</button>
                            }
                        </td>
                    </tr>
                }
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <th>TOTAL</th>
                    <th>PHP @totalPrice.ToString("0.00")</th>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row justify-content-end">
        <button class="btn btn-info">PROCEED TO CHECKOUT</button>
    </div>
</div>

@section Scripts {
<script>
    $(function(){
        $('.item_units').on('change input', function () {
            let id = $($(this).parent()).parent().children('.item_id').val();
            let oldUnit = $(this).parent().children('.item_units_hidden').val();
            let currentUnit = $(this).val();
            let op = parseInt(oldUnit) - parseInt(currentUnit);
            if (op < 0) {
                $.ajax({
                    type: 'POST',
                    url: "/Home/AddToCart",
                    data: { "id": id, },
                    dataType: "json",
                    success: function (response) {
                        if (response.success) {
                            window.location = '/Cart'
                            console.log('Add to cart');
                        }
                        else {
                            window.location = "/Login"
                        }
                    }
                });

            } else if (op > 0) {
                $.ajax({
                    type: 'POST',
                    url: "/Home/SubtractToCart",
                    data: { "id": id, },
                    dataType: "json",
                    success: function (response) {
                        if (response.success) {
                            window.location = '/Cart'            
                            console.log('Subtract to cart');
                        }
                        else {
                            window.location = "/Login"
                        }
                    }
                });
            }
        });
    });
</script>
}
